@import '~normalize.css';
@import 'scss/variables.scss';
@import 'scss/header.scss';
@import 'scss/quality.scss';
@import 'scss/person.scss';
@import 'scss/form.scss';


ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

body {
    width: 1520px;
}

@media screen and (max-width: $tablet-width) {
  
    body {
      width: 768px;
      margin: 0 auto;
    }
  }

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}