.form__container {
  display: none;
  position: fixed;
  width: 625px;
  top: 50px;
  left: 500px;
  z-index: 6;

  &-close {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #E9862A;
    right: -35px;
    background-image: url("../img/icon/cross.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &-inf {
    display: flex;
  }:first-child {
    margin-right: 5px;
  }

  &-date {
    display: flex;
    align-items: flex-start;
  }
  
  &-submit {
    display: flex;
    width: 390px;
    height: 80px;
    align-items: center;
    border: 1px solid #F2F2F2;
    margin-top: 50px;
  }

  h2 {
    text-align: center;
    font-family: Helios;
    font-size: 26px;
    font-weight: 700;

  }

  form {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 50px;
    padding-left: 100px;
  }::placeholder {
    padding-left: 17px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="date"],
  input[type="file"] {
    display: flex;
    width: 390px;
    height: 38px;
    background: #F2F2F2;
    border: none;
    font-family: Helios;
    font-size: 12px;
  }

  input[type="tel"],
  input[type="email"] {
    width: 190px;
  }

  input[type="date"],
  input[type="file"] {
    width: 146px;
    border: none;
  }

  input[type="date"]::-webkit-datetime-edit-month-field,
  input[type="date"]::-webkit-datetime-edit-day-field,
  input[type="date"]::-webkit-datetime-edit-year-field,
  input[type="date"]::-webkit-datetime-edit-text {
    display: none;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    margin-right: 5px;
  }

  input[type="date"]::before {
    content: attr(data-placeholder);
    font-family: Helios;
    font-size: 12px;
    padding-left: 17px;
    color: #828282;
  }

  input[type="file"] {
    display: none;
  }

  .resume {  
      display: flex;
      position: relative;
      width: 146px;
      height: 36px;

      &-line {
        position: absolute;
        width: 146px;
        border-bottom: 1px solid #242627;
        top: 31px;
        left: 15px;
        padding-bottom: 10px;
        padding-left: 30px;
        font-family: Helios;
        font-size: 12px;
        font-weight: 400;
        color: #187CD3;
      }
  }

  input:focus{
    background: white;
    border: 1px solid #F2F2F2;
    outline: none;
  }

  input:hover {
    border: 1px solid #E0E0E0;
  }


  .error {
    color: red;
  }

  input[type="submit"] {
    position: relative;
    background-color: #C3C8C8;
    color: white;
    width: 80px;
    height: 38px;
    left: 20px;
    border: none;
    cursor: pointer;
    font-family: Helios;
    font-size: 12px;
  }

  input[type="checkbox"] {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
  }

  label {
    font-family: Helios;
    font-size: 12px;
    margin-left: 26px;
  }
}

textarea {
  display: flex;
  width: 390px;
  height: 80px;
  background: #F2F2F2;
  border: none;
  font-family: Helios;
  font-size: 12px;
  resize: none;
}::placeholder {
  padding-top: 10px;
}

// input[type="checkbox"]:checked {
//   color: white;
//   background-color: orange;
// }


