.form__container {
  display: none;
  position: absolute;
  width: 1145px;
  top: 40px;
  left: 187px;
  font-family: Helios;
  font-size: 16px;
  z-index: 30;

  &-close {
    position: absolute;
    width: 70px;
    height: 70px;
    background: $orange;
    right: -75px;
    background-image: url("../img/icon/cross.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &-inf {
    display: flex;
  }:first-child {
    margin-right: 5px;
  }

  &-date {
    display: flex;
    align-items: flex-start;
  }
  
  &-submit {
    display: flex;
    width: 712px;
    height: 140px;
    align-items: center;
    border: 1px solid $Gray6;
    margin-top: 30px;
  }

  h2 {
    text-align: center;
    font-family: Helios;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 30px;

  }

  form {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 50px;
    padding-left: 150px;
  }::placeholder {
    padding-left: 17px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="date"],
  input[type="file"] {
    display: flex;
    width: 712px;
    height: 70px;
    margin-top: 12px;
    background-color: $Gray6;
    border: 1px solid transparent;
  }

  input[type="tel"],
  input[type="email"] {
    width: 351px;
  }

  input[type="date"],
  input[type="file"] {
    width: 266px;
    border: none;
  }

  input[type="date"]::-webkit-datetime-edit-month-field,
  input[type="date"]::-webkit-datetime-edit-day-field,
  input[type="date"]::-webkit-datetime-edit-year-field,
  input[type="date"]::-webkit-datetime-edit-text {
    display: none;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    margin-right: 5px;
  }

  input[type="date"]::before {
    content: attr(data-placeholder);
    padding-left: 17px;
    color: #828282;
  }

  input[type="file"] {
    display: none;
  }

  .resume {  
      display: flex;
      position: relative;
      width: 266px;
      height: 36px;

      &-line {
        position: absolute;
        width: 220px;
        border-bottom: 1px solid #242627;
        top: 71px;
        padding-bottom: 10px;
        padding-left: 80px;
        font-family: Helios;
        font-size: 15px;
        font-weight: 400;
        color: #187CD3;
      }
  }

  input,
  textarea:focus{
    background: white;
    border: 1px solid $Gray6;
    outline: none;
  }

  input:focus{
    background: white;
    border: 1px solid $Gray6;
    outline: none;
  }


  input:hover {
    border-color:#E0E0E0;

  }

  // input:required {
  //   border-box: 1px solid red;
  // }


  .error {
    color: red;
  }

  input[type="submit"] {
    position: relative;
    background-color: $Gray;
    color: white;
    width: 210px;
    height: 64px;
    left: 100px;
    border: none;
    cursor: pointer;
  }

  input[type="checkbox"] {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
  }

  label {
    margin-left: 36px;
  }
}

textarea {
  display: flex;
  width: 712px;
  height: 153px;
  background: $Gray6;
  border: none;
  resize: none;
  margin-top: 12px;
}::placeholder {
  padding-top: 10px;
}

@media screen and (max-width: $tablet-width) {
  .form__container {
    width: 768px;
    top: 40px;
    left: 0px;
  
    &-close {
      position: absolute;
      width: 64px;
      height: 64px;
      background: $orange;
      right: -75px;
      background-image: url("../img/icon/cross.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  
    &-inf {
      display: flex;
    }:first-child {
      margin-right: 5px;
    }
  
    &-date {
      display: flex;
      align-items: flex-start;
    }
    
    &-submit {
      display: flex;
      width: 712px;
      height: 140px;
      align-items: center;
      border: 1px solid $Gray6;
      margin-top: 30px;
    }
  
    h2 {
      text-align: center;
      font-family: Helios;
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 30px;
  
    }
  
    form {
      display: flex;
      flex-wrap: wrap;
      background-color: white;
      padding: 50px;
      padding-left: 40px;
    }::placeholder {
      padding-left: 17px;
    }
  
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="tel"],
    input[type="date"],
    input[type="file"] {
      display: flex;
      width: 688px;
      height: 70px;
      margin-top: 12px;
      background-color: $Gray6;
      border: 1px solid transparent;
    }
  
    input[type="tel"],
    input[type="email"] {
      width: 351px;
    }
  
    input[type="date"],
    input[type="file"] {
      width: 266px;
      border: none;
    }
  
    input[type="date"]::-webkit-datetime-edit-month-field,
    input[type="date"]::-webkit-datetime-edit-day-field,
    input[type="date"]::-webkit-datetime-edit-year-field,
    input[type="date"]::-webkit-datetime-edit-text {
      display: none;
    }
  
    input[type="date"]::-webkit-calendar-picker-indicator {
      margin-right: 5px;
    }
  
    input[type="date"]::before {
      content: attr(data-placeholder);
      padding-left: 17px;
      color: #828282;
    }
  
    input[type="file"] {
      display: none;
    }
  
    .resume {  
        display: flex;
        position: relative;
        width: 266px;
        height: 36px;
  
        &-line {
          position: absolute;
          width: 220px;
          border-bottom: 1px solid #242627;
          top: 71px;
          padding-bottom: 10px;
          padding-left: 80px;
          font-family: Helios;
          font-size: 15px;
          font-weight: 400;
          color: #187CD3;
        }
    }
  
    input,
    textarea:focus{
      background: white;
      border: 1px solid $Gray6;
      outline: none;
    }
  
    input:focus{
      background: white;
      border: 1px solid $Gray6;
      outline: none;
    }
  
  
    input:hover {
      border-color:#E0E0E0;
  
    }
 
    .error {
      color: red;
    }
  
    input[type="submit"] {
      position: relative;
      background-color: $Gray;
      color: white;
      width: 210px;
      height: 64px;
      left: 100px;
      border: none;
      cursor: pointer;
    }
  
    input[type="checkbox"] {
      position: absolute;
      width: 16px;
      height: 16px;
      margin-left: 5px;
      border: none;
      cursor: pointer;
    }
  
    label {
      margin-left: 36px;
    }
  }
  
  textarea {
    display: flex;
    width: 712px;
    height: 153px;
    background: $Gray6;
    border: none;
    resize: none;
    margin-top: 12px;
  }::placeholder {
    padding-top: 10px;
  }
}

