
.header {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &__box {
    display: flex;
    border-bottom: 1px solid $Gray6;
  }

  &__logo {
    display: flex;
    position: absolute;
    top: 36px;
    height: 20px;
    left: 289px;
  }

  &__menu {
    display: flex;
  }

  &__menu-list {
    display: flex;
    width: 600px;
    height: 40px;
    margin-top: 37px;
    margin-left: 510px;
    justify-content: space-around;
    font-family: Helios;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;

      .menu-item_active {
      border-bottom: 2px solid $orange;
    }
  }

  .social-networking {
    display: flex;
    position: relative;
    font-family: Gilroy;
    margin-top: 40px;
    margin-left: 21px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #187CD3;

    &::after {
      content: '';
      position: relative;
      right: -2px;
      top: 7px;
      border: 3px solid transparent;
      border-top: 5px solid #242627;
    }
  }

  .social {
    display: none;
    position: absolute;
    right: 260px;
    flex-wrap: wrap;
    width: 140px;
    height: 99px;
    z-index: 4;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 68px;
      height: 50px;
      background: white;
      border: 1px solid #E0E0E0
    }

    &__icon {
      width: 25px;
      height: 25px;
      fill: $orange;
      ;

      &:hover {
        fill: #003264;
      }
    }
  }

  &__view {
    display: flex;
    position: relative;
    // width: 1100px;
    height: 359px;
    top: 29px;

    &-arrow {
      display: flex;
      width: 922px;
      margin-left: 88px;
      background: #003264;
      clip-path: 
        polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
        z-index: 2;
    }

    &-comand {
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      width: 400px;
      height: 90px;
      top: 92px;
      left: 200px;
      z-index: 10;

      h2 {
        font-family: HeliosC;
        color: white;
        font-size: 32px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
      }

      button {
        @include button;
        margin-top: 51px;
        cursor: pointer;
      }
    }

    &-img {
      display: flex;
      position: absolute;
      background-size: cover;
      width: 550px;
      height: 345px;
      top: 14px;
      left: 750px;
      z-index: 3;
    }

    &-house {
      display: flex;
      position: absolute;
      background-size: contain;
      width: 900px;
      height: 359px;
      left: 540px;
      z-index: 1;
    }
  }

  .hidden {
    display: none;
  }

  .show {
    display: flex;
  }
}

@media screen and (max-width: $tablet-width) {
  
  .header {
    
    &__logo {
      top: 34px;
      left: 40px;
    }
  
    &__menu {
      display: none;
      position: absolute;
      width: 768px;
      height: 472px;
      background-color: #242627;
      z-index: 20;

      &-open {
        position: absolute;
        width: 28px;
        height: 18px;
        top: 39px;
        left: 700px;
        background-image: url("../img/icon/open.svg")
      }

      &-close {
        position: absolute;
        width: 17px;
        height: 17px;
        background-image: url("../img/icon/close.svg");
        top: 26px;
        left: 724px;
      }
    }
  
    &__menu-list {
      display: flex;
      flex-direction: column;
      width: 125px;
      height: 256px;
      margin-top: 68px;
      margin-left: 40px;
      color: white;
    }

     .social-networking {
    display: none;
  }

  .social {
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 240px;
    height: 35px;
    z-index: 8;
    background: #242627;
    top: 384px;
    left: 40px;
    
 

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 47px;
      height: 35px;
      background: #242627;
      border: 1px solid rgba(255, 255, 255, 0.08);
    }:hover {
      border: 1px solid #E0E0E0
    }
 

    &__icon {
      width: 25px;
      height: 25px;
      fill: white;

      &:hover {
        fill: #003264;
      }
    }
  }

  &__view {
    width: 768px;
    height: 398px;
    top: 96px;
    overflow: hidden;

    &-arrow {
      width: 635px;
      margin-left: 0px;
      clip-path: 
        polygon(0 0, 75% 0, 100% 50%, 75% 100%, 0 100%);
        z-index: 2;
    }

    &-comand {
      left: 40px;
    }

    &-img {
      width: 527px;
      height: 334px;
      top: 64px;
      left: 336px;
    }

    &-house {
      width: 696px;
      height: 398px;
      left: 115px;
    }
  }
  }
}

@media screen and (max-width: $mobile-width) {
  .header {
    
    &__logo {
      top: 24px;
      left: 21px;
    }
  
    &__menu {
      width: 320px;

      &-open {
        top: 26px;
        left: 272px;
      }

      &-close {
        top: 26px;
        left: 276px;
      }
    }

    &__view {
      width: 320px;
      height: 318px;
      top: 72px;
      overflow: hidden;

      &-arrow {
        width: 320px;
        margin-left: 0px;
        clip-path: 
          polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
          z-index: 2;
      }

      &-comand {
        left: 40px;
      }

      &-img {
        width: 320px;
        height: 230px;
        top: 87px;
        left: 25px;
      }

      &-house {
        display: none;
      }

      &-comand {
        top: 0px;
        height: 350px;
      
        h2 {
          font-size: 22px;
          margin-top: 20px;
        }

        button {
          width: 223px;
          height: 56px;
          z-index: 10;
        }
      }
    }
  }
}