
.header {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &__box {
    display: flex;
    border-bottom: 1px solid #F2F2F2;
  }

  &__logo {
    display: flex;
    position: absolute;
    width: 50px;
    top: 36px;
    height: 20px;
    left: 289px;
  }

  &__menu {
    display: flex;
  }

  &__menu-list {
    display: flex;
    width: 600px;
    height: 40px;
    margin-top: 37px;
    margin-left: 510px;
    justify-content: space-around;
    font-family: Helios;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;

      .menu-item_active {
      border-bottom: 2px solid #E9862A;
    }
  }

  .social-networking {
    display: flex;
    position: relative;
    font-family: Gilroy;
    margin-top: 38px;
    margin-left: 21px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #187CD3;

    &::after {
      content: '';
      position: relative;
      right: -2px;
      top: 7px;
      border: 3px solid transparent;
      border-top: 5px solid #242627;
    }
  }

  .social {
    display: none;
    position: absolute;
    right: 20px;
    flex-wrap: wrap;
    width: 140px;
    height: 99px;
    z-index: 4;
    background: white;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 68px;
      height: 50px;
      border: 1px solid #E0E0E0
    }

    &__icon {
      width: 25px;
      height: 25px;
      fill: #E9862A;
      ;

      &:hover {
        fill: #003264;
      }
    }
  }

  &__view {
    display: flex;
    position: relative;
    justify-content: center;
    width: 1100px;
    height: 359px;
    top: 29px;

    &-arrow {
      display: flex;
      width: 922px;
      background: #003264;
      clip-path: 
        polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
        z-index: 2;
    }

    &-comand {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      width: 400px;
      height: 90px;
      top: 92px;
      left: 200px;

      h2 {
        font-family: HeliosC;
        color: white;
        font-size: 32px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
      }

      button {
        @include button;
        margin-top: 51px;
   
      }
    }

    &-img {
      display: flex;
      position: absolute;
      background-size: cover;
      width: 550px;
      height: 345px;
      top: 14px;
      left: 750px;
      z-index: 3;
    }

    &-house {
      display: flex;
      position: absolute;
      background-size: contain;
      width: 900px;
      height: 359px;
      left: 540px;
      z-index: 1;
    }
  }

  .hidden {
    display: none;
  }

  .show {
    display: flex;
  }
}