.person {
  display: flex;
  position: relative;
  justify-content: center;
  width: 1184px;
  height: 359px;
  margin-top: 57px;
  background: #F7F7F7;

  &-prew {
    position: absolute;
    width: 44px;
    height: 76px;
    background-image: url(../img/icon/left.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-bottom: 1px solid #E0E0E0;
    left: 30px;
    top: 140px;
  }

  &-next {
    position: absolute;
    width: 44px;
    height: 76px;
    background-image: url(../img/icon/right.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border: 1px solid #E0E0E0;
    right: 30px;
    top: 140px;
  }

  &__item {
    display: flex;
    width: 1184px;
    flex-direction: column;
    margin-left: 113px;

    &-img {
      position: absolute;
      height: 338px;
      top: 21px;
      right: 42px;    
    }

    h2 {
      font-family: Helios;
      font-size: 31px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: left;
      margin-top: 94px;
    }

    p {
      margin-top: 10px;
      font-family: Helios;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0em;
      color:#828282;
      ;
    }

    &-description {
      width: 560px;
      height: 128px;
      margin-top: 29px;
      font-family: Helios;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}

@media screen and (max-width: $tablet-width) {

  .person {
    width: 700px;
    height: 695px;
    margin-top: 57px;
  
    &-prew {
      left: 30px;
      top: 140px;
    }
  
    &-next {
      right: 30px;
      top: 140px;
    }
  
    &__item {
      margin-left: 0px;

      &-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 390px;
        background-color: white;
      }
  
      &-img {
        position: absolute;
        height: 338px;
        top: 21px;
        right: 200px;    
      }
    }
  }
}

@media screen and (max-width: $mobile-width) {

  .person {
    width: 280px;
    height: 474px;
    margin-top: 100px;
  
    &-prew {
      left: 30px;
      top: 140px;
    }
  
    &-next {
      right: 30px;
      top: 140px;
    }
  
    &__item {
      width: 280px;
      margin-left: 0px;

      &-box {
        margin-top: 224px;

        h2 {
          font-size: 20px;
          margin-top: 20px;
        }

        p {
          font-size: 13px;
          margin-top: 0px;
        }
      }
  
      &-img {
        position: absolute;
        width: 280px;
        height: 201px;
        top: 21px;
        right: 50px;    
      }

      &-description {
        width: 280px;
        font-size: 13px;
        margin-top: 15px;
      }
    }
  }

}