.person {
  display: flex;
  position: relative;
  justify-content: center;
  width: 1184px;
  height: 359px;
  margin-top: 57px;
  background: #F7F7F7;

  &::before {
    content: "";
    position: absolute;
    width: 44px;
    height: 76px;
    background-image: url(../img/icon/left.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-bottom: 1px solid #E0E0E0;
    left: 30px;
    top: 140px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 44px;
    height: 76px;
    background-image: url(../img/icon/right.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border: 1px solid #E0E0E0;
    right: 30px;
    top: 140px;
  }


  &__items {
    display: flex;
    width: 1480px;
    
  }


  &__item {
    display: flex;
    width: 1480px;
    flex-direction: column;
    // justify-content: center;
    margin-left: 113px;

    &-img {
      position: absolute;
      // width: 434px;
      height: 338px;
      top: 21px;
      right: 42px;    
    }

    h2 {
      font-family: Helios;
      font-size: 31px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: left;
      margin-top: 94px;
    }

    p {
      margin-top: 10px;
      font-family: Helios;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0em;
      color:#828282;
      ;
    }

    &-description {
      width: 560px;
      height: 128px;
      margin-top: 29px;
      font-family: Helios;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}