@font-face {
  font-family: Helios;
  src: url("../fonts/Helios\ Regular.otf") format("opentype"), url("../fonts/heliosbold.ttf")  format("truetype");
}

@font-face {
  font-family: Gilroy;
  src: url("../fonts/gilroy-regular.ttf") format("truetype"), url("../fonts/gilroy-bold.ttf")  format("truetype");
}

$tablet-width: 768px;
$mobile-width: 320px;

$orange: #E9862A;
$Gray:#C3C8C8;
$Gray6: #F2F2F2;


@mixin button {
  width: 202px;
  height: 51px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  border: none;
  background: $orange;
  font-family: Helios;
}